/* NAVIGATION BAR - NAVIGATION BAR - NAVIGATION BAR - NAVIGATION BAR */
/* NAVIGATION BAR - NAVIGATION BAR - NAVIGATION BAR - NAVIGATION BAR */

#navigation_bar {
	padding: 10px 10px;
	overflow: hidden;
	border-bottom:#666 5px solid; 
	margin-bottom:10px;
}

        .cns{width: 490px;float: left;overflow: hidden;padding: 15px 0;}
						
				#navigation{
  				height: 15px;
  				line-height: 15px;
	         	margin: 10px 0 10px 0;
				}

                  #nav li {
                  	display: inline;
                  	list-style-type: none;
                  	margin: 0;
                  	padding: 0;
                  }
            
                  #nav li a {
                  	float: right;
                  	height: 24px;
                  	padding: 0 0 0 6px;
					font-size:12px;
					font-weight:normal;
					}
            
                  #nav li.nav_separator {
                  	float: right;
                  	height: 24px;
                  	padding: 0 0 0 6px;
					font-size:12px;
					font-weight:normal;
									}
									
                  #nav li a:link,#nav li  a:visited {
									text-decoration: none;
									color: #484848;
                  }

                  #nav2 li a:link,#nav li  a:visited {
									text-decoration: none;
									color: #ca5800;
                  }
				  				
                  #nav li a:hover {
									text-decoration: none;
									color: #484848;
                  }


                  #nav li a:link.current,#nav li  a:visited.current {
									text-decoration: none;
									color: #484848;
                  }

                  #nav2 li {
                  	display: inline;
                  	list-style-type: none;
                  	margin: 0;
                  	padding: 0;
                  }
            
                  #nav2 li a {
                  	float: right;
                  	height: 24px;
                  	padding: 0 0 0 6px;
					font-size:18px;
					font-weight:normal;
					}
					
                  #nav2 li.nav2_separator {
					width:12px;
					height:12px;
					top:6px;
					float:right;
					background-image:url(../images/arrows.gif);
					background-position:0 0px;
					}
					
/* Breadcrumbs - Breadcrumbs Breadcrumbs - Breadcrumbs - Breadcrumbs - Breadcrumbs */
/* Breadcrumbs - Breadcrumbs Breadcrumbs - Breadcrumbs - Breadcrumbs - Breadcrumbs */
 			
				#crumbs{
  				line-height: 15px;
	         	margin: 0px;
				float:right;
				}

                  #crumbs li {
                  	display: inline;
                  	list-style-type: none;
                  	margin: 0;
                  	padding: 0;
                  }
 
                  #crumbs li {
                  	display: inline;
                  	list-style-type: none;
                  	margin: 0;
                  	padding: 0;
                  }
            
                  #crumbs li a {
                  	float: right;
                  	height: 24px;
                  	padding: 0 0 0 6px;
					font-size:10px;
					font-weight:normal;
					}
            
                  #crumbs li.crumbs_separator {
                  	float: right;
                  	height: 24px;
                  	padding: 0 0 0 6px;
					font-size:10px;
					font-weight:normal;
									}
									
                  #crumbs li a:link,#crumbs li  a:visited {
									text-decoration: none;
									color: #999;
                  }

				  				
                  #crumbs li a:hover {
									text-decoration: none;
									color: #999;
                  }


                  #crumbs li a:link.current,#crumbs li  a:visited.current {
									text-decoration: none;
									color: #999;}
									